

  

  <ul class="collapsible" data-collapsible="accordion" watch>
  <h4>{{title}}</h4>
    
  <div class="newRoundData">
    <label>Today's Date:</label>
    <input type="text" ng-model="round.Date"/>

    <label>Course Name:</label>
    <input type="text" ng-model="round.Course"/>

    <label>Course Rating:</label>
    <input type="text" ng-model="round.Course"/>
    
    <label>Course Slope:</label>
    <input type="text" ng-model="round.Course"/>
  </div>

  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole One</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeOne.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeOne.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeOne.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeOne.Notes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Two</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeTwo.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeTwo.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeTwo.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeTwo.Notes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Three</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeThree.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeThree.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeThree.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeThree.Notes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Four</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeFour.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeFour.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeFour.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeFour.Notes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Five</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeFive.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeFive.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeFive.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeFive.Notes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Six</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeSix.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeSix.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeSix.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeSix.Notes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Seven</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeSeven.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeSeven.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeSeven.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeSeven.Notes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Eight</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeEight.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeEight.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeEight.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeEight.Notes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Nine</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeNine.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeNine.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeNine.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeNine.Notes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Ten</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeTen.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeTen.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeTen.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeTen.Notes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Eleven</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeEleven.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeEleven.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeEleven.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeEleven.Notes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Twelve</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeTwelve.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeTwelve.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeTwelve.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeTwelve.Notes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Thirteen</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeThirteen.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeThirteen.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeThirteen.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeThirteen.Notes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Fourteen</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeFourteen.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeFourteen.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeFourteen.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeFourteen.Notes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Fifteen</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeFifteen.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeFifteen.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeFifteen.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeFifteen.Notes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Sixteen</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeSixteen.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeSixteen.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeSixteen.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeSixteen.Notes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Seventeen</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeSeventeen.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeSeventeen.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeSeventeen.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeSeventeen.Notes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Eighteen</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="holeEighteen.Score"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="holeEighteen.Fairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="holeEighteen.Putts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="holeEighteen.Notes"></div>
  </li>
  
</ul>


<div class="newCardBtn">
  <button ng-click="addNewScorecard()">Update Card</button>
</div>

