

  
  <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large orange">
      <i class="fa fa-bars"></i>
    </a>
    <ul>
      <li><a class="btn-floating btn-large red"><i class="fa fa-sign-out"></i></a></li>
      <li><a class="btn-floating btn-large orange"><i class="fa fa-percent"></i></a></li>
      <li><a class="btn-floating btn-large green"><i class="fa fa-book"></i></a></li>
      <li><a class="btn-floating btn-large blue"><i class="fa fa-table"></i></a></li>
      <li><a class="btn-floating btn-large yellow darken-1"><i class="fa fa-cloud"></i></a></li>
    </ul>
  </div>
  
      <div ng-repeat="scorecard in allScorecards">
        <div class="row">
          <div class="col s12 m6">
            <div class="card lime lighten-5" id="allCards">
              <div class="card-content dark-grey-text">
                <div><i class="fa fa-table fa-2x" aria-hidden="true"></i></div>
                <h5><a ng-href="#/scorecards/{{scorecard.id}}">{{scorecard.roundCourse}}  ({{scorecard.roundDate}})</a></h5>
                <div class="allRoundsData">
                  <ul>
                    <li><label><h6>Round Score:</h6></label><h5>{{scorecard.roundScore}}</h5></li>
                    <li><label>Course Par:</label><p>{{scorecard.coursePar}}</p></li>
                    <li><label>Course Rating:</label><p>{{scorecard.courseRating}}</p></li>
                    <li><label>Course Slope:</label><p>{{scorecard.courseSlope}}</p></li>
                  </ul>
                </div>
                <!-- <div class="row">
                  <p>Hole One: {{scorecard.holeOneNotes}}</p>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
