<div class="row">
  <div class="col s8 m6 offset-s2">
    <div class="card lime lighten-5">
      <div class="card-content green-text text-lighten-1">
        <div>
          Email: <input type="text" ng-model="account.email">
        </div>

        <div>
          Password: <input type="password" ng-model="account.password">
        </div>

        <div class="loginBtns">


          <button class="btn btn-info" ng-click="login()" autofocus="true" id="loginBtn"><p>Login  <i class="fa fa-sign-in"></i></p></button>
          <button class="btn btn-default" ng-click="register()" id="registerBtn">Register   <i class="fa fa-user-plus"></i></button>
        </div>
      
      </div>
    </div>
  </div>
</div>