



<ul class="collapsible" data-collapsible="accordion" watch>
  <h4>{{title}}</h4>
    
  <div class="newRoundData">
    <label>Today's Date:</label>
    <input type="text" ng-model="newCard.roundDate"/>

    <label>Course Name:</label>
    <input type="text" ng-model="newCard.roundCourse"/>
    
    <label>Course Rating:</label>
    <input type="text" ng-model="newCard.courseRating"/>
    
    <label>Course Slope:</label>
    <input type="text" ng-model="newCard.courseSlope"/>
    
  </div>

  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole One</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeOneScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeOneFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeOnePutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeOneNotes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Two</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeTwoScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeTwoFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeTwoPutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeTwoNotes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Three</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeThreeScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeThreeFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeThreePutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeThreeNotes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Four</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeFourScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeFourFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeFourPutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeFourNotes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Five</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeFiveScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeFiveFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeFivePutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeFiveNotes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Six</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeSixScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeSixFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeSixPutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeSixNotes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Seven</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeSevenScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeSevenFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeSevenPutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeSevenNotes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Eight</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeEightScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeEightFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeEightPutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeEightNotes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Nine</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeNineScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeNineFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeNinePutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeNineNotes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Ten</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeTenScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeTenFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeTenPutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeTenNotes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Eleven</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeElevenScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeElevenFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeElevenPutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeElevenNotes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Twelve</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeTwelveScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeTwelveFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeTwelvePutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeTwelveNotes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Thirteen</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeThirteenScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeThirteenFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeThirteenPutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeThirteenNotes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Fourteen</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeFourteenScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeFourteenFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeFourteenPutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeFourteenNotes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Fifteen</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeFifteenScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeFifteenFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeFifteenPutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeFifteenNotes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Sixteen</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeSixteenScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeSixteenFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeSixteenPutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeSixteenNotes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Seventeen</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeSeventeenScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeSeventeenFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeSeventeenPutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeSeventeenNotes"></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Hole Eighteen</div>
    <div class="collapsible-body">Score:<input type="text" ng-model="newCard.holeEighteenScore"></div>
    <div class="collapsible-body">Fairway: <input type="text" ng-model="newCard.holeEighteenFairway"></div>
    <div class="collapsible-body">Putts: <input type="text" ng-model="newCard.holeEighteenPutts"></div>
    <div class="collapsible-body">Notes: <input type="text" ng-model="newCard.holeEighteenNotes"></div>
  </li>
   <li>
    <div class="collapsible-header"><p>{{totalScore}}</p></div>
  </li>
</ul>


<div class="newCardBtn">
  <button ng-click="addNewScorecard()">Submit Round</button>
</div>
