
      <div class="newRoundData">
        
        <h5>{{selectedCard.roundCourse}} {{selectedCard.roundDate}}</h5>
    
        <div><h5>Round Score:  {{selectedCard.roundScore}}</h5></div>      
        <div><h6>Course Rating:  <strong>{{selectedCard.courseRating}}</strong></h6></div>
        <div><h6>Course Slope:  <strong>{{selectedCard.courseSlope}}</strong></h6></div>
        <div><h6>Round Date:  <strong>{{selectedCard.roundDate}}</strong></h6></div>
      </div>

     
        <div class="row">
          <div class="col s12 m6">
            <div class="card lime lighten-5" id="allCards">
              <div class="card-content dark-grey-text">
                <table class="striped">
                  <thead>
                    <tr>
                       <th data-field="hole"><i class="fa fa-flag-checkered" aria-hidden="true"> Hole</i></th>
                       <th data-field="note"><i class="fa fa-pencil-square-o" aria-hidden="true"> Score</i></th>
                       <th data-field="fairway"><i class="fa fa-bullseye" aria-hidden="true"> Fairway</i></th>
                       <th data-field="putts"><i class="fa fa-crosshairs"> Putts</i></th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>#1</td>
                      <td>{{selectedCard.holeOneScore}}</td>
                      <td>{{selectedCard.holeOneFairway}}</td>
                      <td>{{selectedCard.holeOnePutts}}</td>
                    </tr>
                  
                    <tr>
                      <td>#2</td>
                      <td>{{selectedCard.holeTwoScore}}</td>
                      <td>{{selectedCard.holeTwoFairway}}</td>
                      <td>{{selectedCard.holeTwoPutts}}</td>
                    </tr>
                    
                    <tr>
                      <td>#3</td>
                      <td>{{selectedCard.holeThreeScore}}</td>
                      <td>{{selectedCard.holeThreeFairway}}</td>
                      <td>{{selectedCard.holeThreePutts}}</td>
                    </tr>
                    
                    <tr>
                      <td>#4</td>
                      <td>{{selectedCard.holeFourScore}}</td>
                      <td>{{selectedCard.holeFourFairway}}</td>
                      <td>{{selectedCard.holeFourPutts}}</td>
                    </tr>
                    
                    <tr>
                      <td>#5</td>
                      <td>{{selectedCard.holeFiveScore}}</td>
                      <td>{{selectedCard.holeFiveFairway}}</td>
                      <td>{{selectedCard.holeFivePutts}}</td>
                    </tr>
                      
                    <tr>
                      <td>#6</td>
                      <td>{{selectedCard.holeSixScore}}</td>
                      <td>{{selectedCard.holeSixFairway}}</td>
                      <td>{{selectedCard.holeSixPutts}}</td>
                    </tr>
                    
                    <tr>
                      <td>#7</td>
                      <td>{{selectedCard.holeSevenScore}}</td>
                      <td>{{selectedCard.holeSevenFairway}}</td>
                      <td>{{selectedCard.holeSevenPutts}}</td>
                    </tr>
                    
                    <tr>
                      <td>#8</td>
                      <td>{{selectedCard.holeEightScore}}</td>
                      <td>{{selectedCard.holeEightFairway}}</td>
                      <td>{{selectedCard.holeEightPutts}}</td>
                    </tr>
                    
                    <tr>
                      <td>#9</td>
                      <td>{{selectedCard.holeNineScore}}</td>
                      <td>{{selectedCard.holeNineFairway}}</td>
                      <td>{{selectedCard.holeNinePutts}}</td>
                    </tr>
                    
                    <tr>
                      <td>#10</td>
                      <td>{{selectedCard.holeTenScore}}</td>
                      <td>{{selectedCard.holeTenFairway}}</td>
                      <td>{{selectedCard.holeTenPutts}}</td>
                    </tr>
                    
                    <tr>
                      <td>#11</td>
                      <td>{{selectedCard.holeElevenScore}}</td>
                      <td>{{selectedCard.holeElevenFairway}}</td>
                      <td>{{selectedCard.holeElevenPutts}}</td>
                    </tr>
                    
                    <tr>
                      <td>#12</td>
                      <td>{{selectedCard.holeTwelveScore}}</td>
                      <td>{{selectedCard.holeTwelveFairway}}</td>
                      <td>{{selectedCard.holeTwelvePutts}}</td>
                    </tr>
                    
                    <tr>
                      <td>#13</td>
                      <td>{{selectedCard.holeThirteenScore}}</td>
                      <td>{{selectedCard.holeThirteenFairway}}</td>
                      <td>{{selectedCard.holeThirteenPutts}}</td>
                    </tr>
                    
                    <tr>
                      <td>#14</td>
                      <td>{{selectedCard.holeFourteenScore}}</td>
                      <td>{{selectedCard.holeFourteenFairway}}</td>
                      <td>{{selectedCard.holeFourteenPutts}}</td>
                    </tr>
                    
                    <tr>
                      <td>#15</td>
                      <td>{{selectedCard.holeFifteenScore}}</td>
                      <td>{{selectedCard.holeFifteenFairway}}</td>
                      <td>{{selectedCard.holeFifteenPutts}}</td>
                    </tr>
                    
                    <tr>
                      <td>#16</td>
                      <td>{{selectedCard.holeSixteenScore}}</td>
                      <td>{{selectedCard.holeSixteenFairway}}</td>
                      <td>{{selectedCard.holeSixteenPutts}}</td>
                    </tr>
                    
                    <tr>
                      <td>#17</td>
                      <td>{{selectedCard.holeSeventeenScore}}</td>
                      <td>{{selectedCard.holeSeventeenFairway}}</td>
                      <td>{{selectedCard.holeSeventeenPutts}}</td>
                    </tr>
                    
                    <tr>
                      <td>#18</td>
                      <td>{{selectedCard.holeEighteenScore}}</td>
                      <td>{{selectedCard.holeEighteenFairway}}</td>
                      <td>{{selectedCard.holeEighteenPutts}}</td>
                    </tr>
                    
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    
                    <tr>
                      <td>Total:</td>
                      <td></td>
                      <td></td>
                      <td>{{selectedCard.roundScore}}</td>
                    </tr>
                   


                 </tbody>
               </table>
               <div id="cardViewEditBtn">
                 <button><a ng-href="#/scorecards/{{selectedCardId}}/edit">Edit</a></button>
               </div>
               <div id="cardViewDeleteBtn">
                 <button ng-click="deleteSingleScorecard()">Delete Round</button>
               </div>
              </div>
            </div>
          </div>
        </div>
             

    

    


  <!-- </div> -->
