<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large orange">
      <i class="fa fa-bars"></i>
    </a>
    <ul>
      <li><a class="btn-floating btn-large red"><i class="fa fa-sign-out"></i></a></li>
      <li><a class="btn-floating btn-large orange"><i class="fa fa-percent"></i></a></li>
      <li><a class="btn-floating btn-large green"><i class="fa fa-book"></i></a></li>
      <li><a class="btn-floating btn-large blue"><i class="fa fa-table"></i></a></li>
      <li><a class="btn-floating btn-large yellow darken-1"><i class="fa fa-cloud"></i></a></li>
    </ul>
</div>




<div>
  <div class="row">
    <div class="col s8 m6">
      <div class="card green">
        <div class="card-content white-text">
          <input type="text" name="zip code" placeholder="Enter Zip Code" value="37206" ng-model="zipCode">
          <button class="button" ng-click="getWeather(zipCode)">Get Weather</button>
        </div>
      </div>
    </div>
  </div>
  
  <div ng-include="'./partials/weather.html'">
    


  </div>



</div>