<div>



  


  <div class="row" >
    <div class="container">
      <div class="col s6 offset-s3" ng-repeat="hour in hourly">
        <div>
        <p>Today is: {{hour.FCTTIME.weekday_name}}</p>
        <p>Date: {{hour.FCTTIME.mon_abbrev}}{{hour.FCTTIME.mon_padded}}</p>
        <p>Time: {{hour.FCTTIME.civil}}</p>
        <p>Currently: {{hour.condition}}</p>
        <p>Temperature: {{hour.temp.english}} *F</p>
        <p>Humidity: {{hour.humidity}}%</p>

        
        

        </div>
      </div> 
    </div>
  </div>

</div>